
a.hb-logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.hb-site-header {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hb-site-header li.nav-item >  a {
    color: #fff;
}
hb-site-header.hb-site-header li.nav-item >  a {
    color: #fff;
}


span.me-2.w-20 {
    display: inline-block;
    width: 26px;
}
.light-background {
    background: #f7f7f7;
}